<div class="container">
    <div class="row-4">
        <img src="assets/img/logo.png" width="150" height="80" alt="">
    </div>
    <div class="row">
        <div class="col-3">
            <app-menu></app-menu>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <button class="btn btn-outline-primary" (click)="abrirModal()"><i class="bi bi-plus"></i> New</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-primary" (click)="exportCSV()"><i class="bi bi-folder-symlink"></i>Export</button>
                </div>
            </div>
            <br>
            <div class="row">
                <app-search (terminoEvent)="recibir($event)"></app-search>
            </div>
            <br>
            <div class="row">
                <h3>Clients</h3>
                <app-clients></app-clients>
            </div>


        </div>
    </div>
    <app-client></app-client>
</div>